.tooltip {
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  bottom: -50px;
  min-height: 30px;
  height: fit-content;
  min-width: 50px;
  width: fit-content;
  transition: opacity 100ms;
  z-index: 100000;
  color: black;
  left: 0;
  top: 0;

  font-size: 14px;
  white-space: nowrap;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  background: rgba(237, 237, 237, 0.8);
  border-radius: 0 30px 30px 30px;

  opacity: 0;
  animation: fadeIn .5s ease forwards;
  animation-delay: 100ms;
  backdrop-filter: blur(10px);
  box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.2), 0 0 20px -10px rgba(0, 0, 0, .5);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  word-wrap: break-word;
  will-change: transform;
  *{
    text-shadow: 0 0 2px white;
  }

  &.text {
    padding: 15px ;
  }

  &.raw {
    padding: 0;
  }

  &.fixed {
    position: fixed !important;
    top: 0;
    left: 0;
    right: unset !important;
    bottom: unset !important;
    transition: 0ms;
  }

  &.top {
    top: -50px;
    bottom: unset;
  }

  &.left {
    border-radius: 25px 0 25px 25px;
  }

  &.list {
    flex-direction: column;
    height: fit-content;
    white-space: wrap;
    align-items: flex-start;
    gap: 10px;
    top: 50px;
    width: 300px;
    text-align: left;
    padding: 10px 10px 20px 10px;

    li {
      margin: 0 0 0 30px;
      padding: 0;
    }
  }
}

.toolTipWrapper {
  color: inherit;
  font-size: inherit;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}